<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
  </head>
  <body>
    <h1>Test</h1>
    <p><a href="http://localhost:3000/cam?id=Zeeland" target="_Blank">TestRTSP A</a></p>
    <p><a href="http://localhost:3000/cam?id=Vancouver" target="_Blank">TestRTSP B</a></p>
    <p><a href="http://localhost:3000/cam?id=Trento" target="_Blank">TestRTSP C</a></p>
    <p><a href="http://localhost:3000/cam?id=TestRTSP1" target="_Blank">TestRTSP D</a></p>
  </body>
</html>